<html lang="en">

<head>
    <title>Bus Stops</title>
</head>

<body>
    <h1>BUS STOPS</h1>
    <hr size="2" ; color="black">
    <h2>McCowan (Scarborough)</h2>
    <h4>The McCowan Subway stop at the corner of Bushby and McCowan.</h4>
    <p>
        <strong>Address:</strong>
        <br>1275 McCowan Road, Scarborough, ON
    </p>

    <p><iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2880.904613003967!2d-79.25364068515694!3d43.77483885257565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDPCsDQ2JzI5LjQiTiA3OcKwMTUnMDUuMiJX!5e0!3m2!1sen!2sca!4v1677363321664!5m2!1sen!2sca" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>></p>

    <hr>

    <h2>York Mills - New Stop</h2>
    <h4>Old York Mills Road - near the Shell gas station and York Mills Station Kiss n' Ride.</h4>
    <p>
        <strong>Address:</strong>
        <br>4021 Yonge St, North York, ON
    </p>
    <p><iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2882.4109729709958!2d-79.40787168515814!3d43.74356185460201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDPCsDQ0JzM2LjgiTiA3OcKwMjQnMjAuNSJX!5e0!3m2!1sen!2sca!4v1677363416127!5m2!1sen!2sca" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
    <hr>

    <h2>Richmond Hill</h2>
    <h4>The York Region Transit and Viva terminal on 8675 Yonge Street. It was built near the ramp that connects Highway 7 and Yonge Street.</h4>
    <p>
        <strong>Address:</strong>
        <br>8675 Yonge St, Richmond Hill, ON
    </p>
    <p><iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d508.725414037248!2d-79.42603665091322!3d43.83954985663754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDPCsDUwJzIyLjciTiA3OcKwMjUnMzIuMSJX!5e0!3m2!1sen!2sca!4v1677363190341!5m2!1sen!2sca" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
    <hr>

    <h2>London</h2>
    <h4>At the bus terminal in CF Masonville Place at the corner of Richmond and Fanshawe.</h4>
    <p>
        <strong>Address:</strong>
        <br>Near Masonville Place Stop #4
    </p>
    <p><iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2916.7355142337515!2d-81.28344868518559!3d43.02595390078183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDPCsDAxJzMzLjQiTiA4McKwMTYnNTIuNSJX!5e0!3m2!1sen!2sca!4v1677363117045!5m2!1sen!2sca" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
    <hr>

    <h2>Hamilton</h2>
    <h4>Sheraton Hotel entrance at Jackson Square.</h4>
    <p>
        <strong>Address:</strong>
        <br>Near convention center in Jackson Square
    </p>
    <p><iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d726.4256786855746!2d-79.87296517080286!3d43.25765197539521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDPCsDE1JzI3LjUiTiA3OcKwNTInMjAuNyJX!5e0!3m2!1sen!2sca!4v1677363058666!5m2!1sen!2sca" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
    <hr>

<h2>Burlington</h2>
    <h4>Aldershot GO Station, South Parking Lot on Masonry Court.</h4>
    
    <p><iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2903.1029682474336!2d-79.8540316851747!3d43.312103882439175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDPCsDE4JzQzLjYiTiA3OcKwNTEnMDYuNiJX!5e0!3m2!1sen!2sca!4v1677363489197!5m2!1sen!2sca" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
    <hr>

<h2>Markham</h2>
    <h4>CF Markville - outlying mall parking off of Bullock Drive - near Best Buy / Pickel Barrel but in outlying parking lots.</h4>
   
    <p><iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2876.3902285738586!2d-79.29412668515333!3d43.86846584650301!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDPCsDUyJzA2LjUiTiA3OcKwMTcnMzEuMCJX!5e0!3m2!1sen!2sca!4v1677363550935!5m2!1sen!2sca" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
    <hr>
</body>



</html>